@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif:
    "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif;
  --color-white: #e5e5e0;
}

::selection {
  background: var(--color-white);
  color: var(--color-black);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-white);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-black);
}

body {
  font-family: var(--font-sans);
  background: var(--color-white);
}
